POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=postgresql+asyncpg://<user>:<password>@localhost:5432/<db>

REDIS_URL=redis://localhost:6379/0

SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

USD_CACHE_TTL=300
AWESOME_API_URL=https://economia.awesomeapi.com.br/json/last/USD-BRL
FRANKFURTER_API_URL=https://api.frankfurter.app/latest?from=USD&to=BRL
